@import "var.scss";
.box-control{
    margin: $--box-margin;
}

.box-card{
    height: 420px;
}
.progress{
    text-align:center;
    .el-alert{
        margin-bottom: 20px;
        font-weight: bold;
    }
    .el-progress{
        font-size: 10px;  // 进度条字体颜色
    }
}
.schedule-box{
    // margin:0px auto;
    .el-button{
        margin-top:8px;
        margin-bottom:8px;
    }
    .button-box{
        // display: flex;
        text-align:center;
    }
    .demo-date-picker{
        margin-top:8px;
        margin-bottom:8px;
        margin-right:5px;
    }
}
.train-box{
    display: flex;
    margin-top:8px;
    margin-bottom:8px;
    .el-button{
        margin-left:5px;
    }
}
:deep(.el-progress-bar__inner) {
    border-radius: 1px !important ; // 没有生效
    background-image:linear-gradient(to right, rgb(107, 225, 96), rgb(82, 220, 87), rgb(88, 201, 88));
}

:deep(.el-button) {
    margin: 0px;
}
// :deep(.el-progress-bar__outer){
//     width: 100%;
//     height: 13px;
//     // background-image: linear-gradient(to right, #5E71FF, #1CB0FF);
//     background-image:linear-gradient(to right, red50px, yellow, blue, green);
//     z-index: 999;
// }