@import "var.scss";
.box-card{
    height: 420px;
}
.progress{
    text-align:center;
    .el-progress{
        margin: 10px;
    }
}
.schedule-box{
    // margin:0px auto;
    .el-button{
        margin-top:8px;
        margin-bottom:8px;
    }
    .button-box{
        // display: flex;
        text-align:center;
    }
    .demo-date-picker{
        margin-top:8px;
        margin-bottom:8px;
        margin-right:5px;
    }
}
.train-box{
    display: flex;
    margin-top:8px;
    margin-bottom:8px;
    .el-button{
        margin-left:5px;
    }
}