// Index.vue
@import "var.scss";
.index{
    display: flex;
    background-color: $--color-index-background;
    height: 900px;
    width: 100%;
    .header{
      // margin-left:210px
      margin-top: -8px;
      margin-left: 202px;
      height: 60px;
      background: $--color-header-background;
      width:100%; //顶部导航栏宽度
      position: fixed;
      z-index: 999999; //最顶层
    }
    .menu{
      width: 210px;
      min-height: 800px;
      background: #e8f0eb;
      position: fixed;
      top: 0;
      bottom: 0;
      margin-left: -8px;
    }
    .content{
      width: calc(100% - 210px);
      position: relative;
      left:210px;
      top: 60px;
    }
  }