// Index.vue
@import "var.scss";
.index{
    display: flex;
    // background-color: $--color-index-background;
    height: 900px;
    padding: 0%;
    margin: 0%;
    // width: 100%;
    .header{
      // margin-left:210px
      // margin-top: -8px;
      // margin-left: 192px;
      height: 50px;
      background: $--color-header-background;
      width:100%; //顶部导航栏宽度
      position: fixed;
      z-index: 999; //最顶层
      line-height: 60px;
    }
    .menu{
      width: 200px;
      min-height: 800px;
      background: rgb(242, 242, 242);
      position: fixed;
      top: 50px;
      bottom: 0;
    }
    .content{
      // width: calc(100% - 200px);
      width: 100%;
      position: relative;
      margin-left:200px;
      top: 50px;
    }
    .isActive{
      // width: calc(100% - 64px);
      width: 100%;
      margin-left:64px;
      top: 50px;
    }
  }