// 主题颜色
$--color-header-background: #15ae6d;  // 导航栏背景颜色(位于Index.vue)
$--color-menuheader-background: #15ae6d;  // 菜单的导航栏背景颜色
$--color-menu-text: aliceblue;  // 菜单SMT排程系统字体颜色
$--color-index-background: rgb(209, 250, 247);  // 菜单SMT排程系统字体颜色

$--box-margin: 10px;  // 各个模块的margin

